/* -------------- FONTS AND SPACING ---------------*/

body {
    font-family: $mont, sans-serif;
}

p {
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 2%;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 4% 2% 0;
    color: $navy-blue;
    margin: 6% 0 2%;
}

@media (min-width: map-get($breakpoints, smaller-screen)) {

    h2 {
        font-size: 2.2rem;
        margin-top: 4%;
    }
}

@media (min-width: map-get($breakpoints, medium)) {

    h2 {
        font-size: 2.5rem;
        margin-top: 4%;
        text-align: center;
    }
    p {
        font-size: 1.1rem;
    }
}

img {
    max-width: 100%;
}

a {
    &:link {
        color: $navy-blue;
    }

    &:hover {
        color: light($navy-blue);
    }

    &:active {
        color: $yellow;
        font-weight: normal;
    }

    &:visited {
        color: light($navy-blue);
        font-weight: lighter;
    }
}
